<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="usuario"></h1>
    <p>Você acessou a Tela inicial</p>
    <a href="/sair">Clique para Sair</a><br>
    <a href="/painelControle">Clique para acessar Painel de Controle</a><br>
    <a href="/telaInicial">Clique para acessar a tela inicial</a>

    <script>
        document.addEventListener("DOMContentLoaded", ()=>{
            fetch("/mensagemOi")
                .then(response => response.json())
                .then(users =>{
                    document.getElementById("usuario").innerText = users.usuario
                })
        })
    </script>
</body>
</html>